#map{
    width:100vw;
    height:100vh;
}
.running-popup{
    border-left:8px solid orange;
    border-radius:15px;
    padding-right:0.1rem;
    box-shadow:3px 3px 5px 2px lightgrey;
    font-size:1.2rem;
}
.cycling-popup{
    border-left:5px solid green;
}