body {
  background-image: url("https://wallpaperbat.com/img/346351-download-free-rain-wallpaper-weather-wallpaper-clouds-rain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* background-color:rgba(0, 0, 0, 0.877); */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph1 {
  font-size: 5rem;
  margin: 0;
  color:white;
  text-decoration:underline;
  /* color:#ffa000; */
}
.text {
  font-size: 4.5rem;
  margin-left: 0.5rem;
}
hr {
  margin: 5.2rem 0.5rem 0 0.5rem;
  border: 0.1px solid white;
  height: 5rem;
}
.container {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.left_box1 {
  display: flex;
  margin-right: 5rem;
}
.inp {
  font-family: Arial, Helvetica, sans-serif;
  width:11%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1rem;
  color:rgb(70, 68, 68);
  background: transparent;
  height:1.1rem;
}
.image{
    width:5rem;
    height:5rem;
}
.icon1 {
  font-size: 1.1rem;
  opacity: 1;
  color: white;
}
.header{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5rem;
}
.right_box{
   font-size: 1.2rem;
   color:white;
}